@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy na stronie internetowej Polskich Przychodni</h1>
    <p><img class="Logo" src="~/PolskiePrzychodnie.jpg" alt="Logo" /></p>
    <p>
        Jesteśmy innowacyjną firmą, posiadającą ponad 50 przychodni pierwszego kontaktu na terenie całej Polski. Zapewniamy kompleksową obsługę
        pacjenta wraz z wykonaniem wszelkich niezbędnych badań. Nasze placówki zaopatrzone są w najnowocześniejsze urządzenia takie jak:
        urządzenie do terapii wysokoprzepływowej, kriolipolizy, infuzji tlenowej i hydrabrazji, analizator skór oraz urządzenie z funkcjami:
        multipolarną RF (1 głowica), liposukcją kawitacyjną 40 KHz, liposukcją kawitacyjną 25 Khz, masażem próżniowym z falami radiowymi,
        lipolaserem (8 głowic) oraz wiele innych. A więc dlaczego warto skorzystać z naszych usług? Dla naszego pacjenta wykonamy wszystkie badania
        w najlepszej jakości. Od razu przysuwa się myśl, że cena takich badań będzie zniewalająca. Otuż nie! Według wielu statystyk mamy najniższe
        ceny na polskim rynku, brak długich kolejek oraz możliwość umówienia wizyty poprzez NFZ z zagwarantowaną kolejką nie dłuższą niż 2 tygodnie.
    </p>
</div>
